body{
    background-color: grey;
}
section{
    background-color: white;
    height: 600px;
    width: 500px;
    position: absolute;
    left: 35%;
    top: 100px;
    border-radius: 20px;
}
h3{
    background-color: grey;
    position: relative;
    top: -28px;
    width: 490px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: xx-large;
    font-weight: 1000;
    color: white;
    letter-spacing: 0.1cap;
}
.box1{
    position: relative;
    top: -50px;
    width: 480px;
    height: 40px;
    border-color: rgb(234, 234, 234);
    border-width: 2px;
    background-color: rgb(157, 240, 212);
}

.btn{
    position: relative;
    top: -40px;
    width: 158px;
    height: 75px;
    cursor: pointer;
    background-color: rgb(210, 217, 217);
}

input[type="text"]
{
    font-size:24px;
}

input[type="text"]:hover
{
    background-color: rgb(204, 233, 192);
}

input[type="button"]
{
    font-size:24px;
    border-color: grey;
    border-width: 2px;
    border-radius: 10px;
}

input[type="button"]:hover  
{  
    background-color: rgb(199, 249, 199);  
}